body{background-color: orange;
    font-family: 'Coda+Caption', sans-serif;
    background-image: url(https://wallpaperscraft.com/image/abstraction_purple_grey_stripes_10455_2560x1440.jpg);
}
.img-width{width: 600; height: 400}

.col-md-6{
	}
    .button{border-color: }
.text{display: inline-block;
}
.text2{color: grey}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.navbar-brand{color: yellow}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}
.text1{color: yellow;}
.default:hover {
    background: #e7e7e7;
}
.text10{color: red}
.box:{
   float: right ;
   background-color: pink;
}
.box1{background-color:pink;
color:green;
border-width: 2px;
padding: 5px;
margin:3;}
.icon{width: :50;height: 50}

.img-width{width: 100%;
height: 200;}
.border{border-style: dotted;
border-color: red;}

.btn{height=20 width: 30;
font-size:24s;
color:red;
float: left;}
.col-md-6{color: white;
}
.text5{color: purple;}
.nav-link{color: #ffb3ec;}
.text11{color:white;}
.box6{background-color: #734d80;}
.text22{color: #ff9966;}
.text25{color: #ff9966;}
.box{width: 450; height: 200;}